td{
	font-family: Î¢ÈíÑÅºÚ;
	font-size:14;
	align:left
}

.tds{ 
	font-family: Î¢ÈíÑÅºÚ;; 
	font-size: large;;
	padding-left: 20px  
}

.shadow {
	-moz-box-shadow: 3px 3px 25px black;
    -webkit-box-shadow: 3px 3px 25px black;
    box-shadow: 3px 3px 25px black;;
    position: absolute; 
    left: 10%; 
    top: 88px;
    right: 10%; 
    padding: 98PX; 
    min-height: 1024PX
}

ul{
	list-style: none;
	position: relative;
	left: 1%;
	right: 6%;
}
 
li{
	border-bottom: 1px #cccccc solid  ;
	font-family: Î¢ÈíÑÅºÚ;; 
	font-size: 14;;
	padding-left: 20px 
}