.fr{
	float: right;
}
.fl{
	float: left;
}
.clear{
	clear: both;
}
.h100{
	height: 100px !important;
}
.logout{
	padding: 2px 2px 2px 22px;
	background-position:left;
	vertical-align:baseline;
	background: url("images/on-off_icon16w.png") no-repeat !important;
}
#actionBtnId a{
	background-position:left;
	padding: 2px 2px 2px 17px;
	border: 1px solid #3580A9;
	-moz-text-shadow: 0px -1px 0px #2C6AA3;
	-webkit-text-shadow: 0px -1px 0px #2C6AA3;
	-o-text-shadow: 0px -1px 0px #2C6AA3;
	text-shadow: 0px -1px 0px #2C6AA3;
	color: #D4E6EF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	text-decoration: none;
	-moz-box-shadow: 0px 1px 5px #B2B2B2;
	-webkit-box-shadow: 0px 1px 5px #B2B2B2;
	-o-box-shadow: 0px 1px 5px #B2B2B2;
	box-shadow: 0px 1px 5px #B2B2B2
}

#actionBtnId a:hover{
	background-position:left;
	padding: 2px 2px 2px 17px;
	border: 1px solid red;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	text-decoration: none;
}
#actionBtnId a.addButton{
	background: url("images/doc_plus_icon16.png") no-repeat !important;
}
#actionBtnId a.delButton{
	background: url("images/doc_minus_icon16.png") no-repeat !important;
}
#actionBtnId a.editButton{
	background: url("images/doc_edit_icon16.png") no-repeat !important;
}
#actionBtnId a.viewButton{
	background: url("images/zoom_icon16.png") no-repeat !important;
}
#actionBtnId a.reloadButton{
	background: url("images/reload_icon16.png") no-repeat !important;
}
#actionBtnId a.printButton{
	background: url("images/print_icon16.png") no-repeat !important;
}